.oxygen-light {
  font-family: "Oxygen", serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", serif;
  font-weight: 700;
  font-style: normal;
}
/* 
body {
  font-family: "Oxygen", serif;
  font-weight: 300;
  font-style: normal;
} */
/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  /* pseudo class weighted more than html and html has before and after */
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}
/* intro styles */
#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

body {
  font-family: Arial, sans-serif;
}

#contact{
  text-align: center;
  width: 400px;
  margin: 0 auto; /* first number is vertical top,bottom, second is left,right */
  /* whatever is left after 400px, divide in half, and equally */
  padding: 3rem 0;
  /* background-color: var(--plum); */
}

/* pseduo class last-child */
#contact p:last-child {
  margin-top: 3rem;
}

/* nav-bar css */
nav {
  font-family: var(--mono);
  font-size: 80%; /* 80% of the parent element */
  padding: 1rem;

}

/* to target h1 inside a , write from left to right css while writing, read from right to left */
nav h1 a {
  font-family: var(--sans);
}
 nav ul {
  list-style: none; /* removes the bullet points */
  margin: 0; /* by default, ul/ol have a padding/margin depending on browser */
  padding: 0;
  display: flex; /* put everything in one-direction */
  flex-flow: row wrap; /* row wrap, if there is not enough space, it will wrap to another line */
  justify-content: center;
  align-items: center; /** vertically center */
  gap: 2rem; /* gap between the elements */
}

nav li:first-child {
  /* flexbox - parent/children, all props on ul, li then takes diff properties; flex-basis can be used with flexbox, when flex-basis=25%,it can be 24,26,any, but width=25,only 25  */
  flex-basis: 100%; /* close to 100% of the width */
  /* flex: 0 1 100%; /* flex-grow, flex-shrink, flex-basis * */
  text-align: center;
  /* border: 1px solid red; /*for debugging why it worked/not*/ 
}
 
nav a {
  /* style all states, unvisited links, visited links, hover state(mouse over, no focus on mobile devices), focus state(tab thru web, box over selected), active state(moment b/w link click and next page loading) */
  color: var(--white);
  text-decoration: none; /* less imp that they are links/underline as they are in nav*/
  display: block; /* block level element, takes up the whole width, default a =inline=take as much as wide */
}

nav a:hover {
  color: var(--magenta);
}